header {
    background-image: linear-gradient(to right, black 5%, black 80%);
    height: 100px;
    padding-top: 20px;
    width: 100%;
}


a:hover {
    text-decoration: underline;
    color: white;
}




/* * * * * * * *
HERO STYLES
* * * * * * * * */


.hero {
    background: linear-gradient(black 5%, black 5%, transparent), url(../imgs/hero.jpg);
    height: calc(100vh - 100px);
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    text-align: left;
    font-size: 80px;
    margin: 0;
}

.hero p {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;


}

.hero-text-container .button {
    margin-top: 25px;
}

.hero-text-container {
    padding-top: 300px;
    padding-left: 200px;
    width: 100%;
}

.request-link {
    text-align: center;
    border-radius: 15px;
    padding: 10px 30px;
    background: linear-gradient(to right, #e52d27, #b31217);
    color: white;

    /* background: linear-gradient(to right, #f00000, #dc281e); */
}


/* * * * * * * * *
Desktop Nav Styles
* * * * * * * * * */

.desktop-nav ul {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    list-style-type: none;
    float: right;
    padding: 10px 5px;
    letter-spacing: 2px;

}

.desktop-nav li {
    display: inline-block;
    margin-left: 35px;
}

.desktop-nav a {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

  }

/* * * * * * * * *
Mobile Nav Styles
* * * * * * * */

.mobile-nav {
  display: none;
}

.mobile-nav .hamburger-container {
  width: 10%;
  vertical-align: top;
  display: inline-block;
  margin-top: 15px;
  float: right;
}


.mobile-nav button {
    height: 20px;
    border: none;
    color: white;
    background: transparent;

}




@media (max-width: 900px) {

  .mobile-nav {
    display: block;
}


  .desktop-nav {
    display: none;
}

  .hero {
      height: auto;
      background-position: center;
      background-size: cover;
}

  .hero-text-container {
    padding: 100px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }

    .hero-text-container .hero-header {
    font-size: 25px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: underline;
  }

    .hero-text-container p {
      font-size: 12px;
      text-align: justify;
      letter-spacing: 1px;
  }

    .in-progress .col-md-4 {
      display: none;
  }

    .in-progres .col-sm-12 {
        display: inline;
    }

}

/* In-progress section  */
.container-1 {
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.7));
    height: 600px;
    width: 100%;
    opacity: .8;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    flex-flow: row wrap;



}


.in-progress .first-box {
  background-image: url(../Imgs/progress1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10%;
  margin: 100px auto;
  height: 50%;
  flex: 2;





}

.in-progress .second-box {
  background-image: url(../Imgs/progress2.jpg);
  background-size: cover;
  background-position: center;
  /* opacity: .9; */
  border-radius: 10%;

  margin: 100px auto;
  height: 50%;
  flex: 2;

  /* width: 100%; */

}


.in-progress .empty-box-1 {
  flex: 1;
}



/* .in-progress .col-md-6:nth-of-type(3) h2 {
    padding-top: 300px;
    font-weight: 700;
} */


.in-progress .current {
  color: white;
  text-align: center;
}


.middle h2 {
    background: transparent;
    text-align: center;
    padding: 30px;
    color: white;
}

@media (max-width: 700) {



}
